.gradiantorg{
    background:linear-gradient(270deg,rgba(255, 137, 79, 1) 40%, rgba(255, 203, 97, 1) 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text; /* For modern browsers */
    color: transparent; /* Make the text color transparent so the gradient shows */
}